body{
  background-image: url("../backgrounds/bg.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}
.App {
  text-align: center;
  padding:5%; 
}
.right-button{
  cursor: pointer;
  float: right
}
.list-item{
  display: inline-block;
}

